<nav class="nav navbar bg-light">
  <div class="nav-container container-fluid">

    <a class="navbar-brand" href="/">
      <img src="../../../assets/ímgs/navbar/logo-udemy.svg" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top">
    </a>
    <div class="dropdown dropdown-navbar ">
      <!-- The trigger element -->
      <div class="dropdown__trigger">Categorías</div>

      <!-- The content -->
      <div class="dropdown__content">
        <div class="trigger_child dropdown__trigger">
          <a href="http://google.com">Contables</a>
        </div>
        <div class="trigger_child dropdown__trigger">
          <a href="http://youtube.com">Tributarios</a>
        </div>
        <div class="trigger_child dropdown__trigger">
          <a href="http://facebook.com">Laborales</a>
        </div>

        <div class="trigger_child dropdown__trigger">
          <a href="http://facebook.com">Especializaciones</a>
        </div>
        <div class="trigger_child dropdown__trigger">
          <a href="http://facebook.com">Programas</a>
        </div>
        <div class="trigger_child dropdown__trigger">
          <a href="http://facebook.com">Diplomaturas</a>
        </div>
     
      </div>

    </div>
    <form class="search-form d-flex" role="">
      <i class="fas fa-search"></i>
      <input class="search_input me-2" type="" placeholder="Buscar cursos" aria-label="Search">
      
     </form>

     <div class="ancla nosotros">
      <a href="http://facebook.com">Nosotros</a>
     </div>
     
     <div class="ancla nosotros">
      <a href="/">Asesoría</a>
     </div>
     <div class="ancla iniciar-sesion">
      <a href="/">Login</a>
     </div>
  
  </div>

</nav>